attr
base58
colorama
ConfigParser
construct
cryptography
docutils
filelock
HTMLParser
ipython
ipywidgets
keyring
Pillow
protobuf
pyOpenSSL
redis
solana
solders
Sphinx
spl
urllib3_secure_extra
websockets
